<div class="productDetails pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <img class="col-6" src="{{product?.imgScr}}" alt="" />
      <div class="col-6">
        <h2>Title: {{ product?.title }}</h2>
        <p>Category: {{ product?.category }}  ,Brand: {{ product?.brand }}</p>
        <p>Price: {{ product?.price| currency }}</p>
        <p>Quantity: {{ product?.Quantity }}</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magni,
          ipsa corrupti eaque perferendis reprehenderit sequi sint? Ipsum,
          debitis laboriosam?
        </p>
      </div>
    </div>
  </div>
</div>
