<div class="userDetails">
  <div class="container">
    <div class="row justify-content-between">
      <img class="col-6" src="assets/images/islam.jpg" alt="" />
      <div class="col-6 ">
        <h2 class="pt-4">Name: {{ user?.firstName }} {{ user?.lastName }}</h2>
        <p class="pt-3 fs-3">Email: {{ user?.email }}</p>
        <p class="pt-3">product purchased</p>
        <p>
          Product No 1250 : Lorem ipsum dolor sit amet.
          Product No 6050 : Lorem ipsum dolor sit amet.
          Product No 4500 : Lorem ipsum dolor sit amet.
          Product No 1289 : Lorem ipsum dolor sit amet.
          Product No 9536 : Lorem ipsum dolor sit amet.
        </p>
      </div>
    </div>
  </div>
</div>
