<footer class="footerBackGround">
  <div class="beforeFinal">
    <div class="container">
      <div class="row justify-content-md-between">
        <div class="col-4 col-md-2">
          <h3>About</h3>
          <ul>
            <li><a class="styleLinks" href="#">Team</a></li>
            <li><a class="styleLinks" href="#">Careers</a></li>
            <li><a class="styleLinks" href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-2">
          <h3>Services</h3>
          <ul>
            <li><a class="styleLinks" href="#">Branding</a></li>
            <li><a class="styleLinks" href="#">Design</a></li>
            <li><a class="styleLinks" href="#">Photography</a></li>
          </ul>
        </div>
        <div class="col-4 col-md-2">
          <h3>Social</h3>
          <ul>
            <li><a class="styleLinks" href="#">Twitter</a></li>
            <li><a class="styleLinks" href="#">Instagram</a></li>
            <li><a class="styleLinks" href="#">Facebook</a></li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-4 mt-4 mt-md-0">
          <h3>Company</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis at
            reiciendis quia assumenda consectetur exercitationem a tempore
            veritatis hic placeat.
          </p>
        </div>
      </div>
      <button
        (click)="backHome()"
        class="d-block btn btn-outline-primary m-auto m-5"
      >
        Back To Home
      </button>
    </div>
  </div>
  <div class="final">
    <div class="container">
      <section class="moreInformation">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          quibusdam atque dolorum non necessitatibus autem exercitationem
          tempora quam veritatis fuga dignissimos saepe.
          <a href="tel:01114956860">Calling</a> or
          <a
            href="mailto:islamnassar10297@gmail.com?subject:the problem &body:what is the problem?"
            >Email
          </a>
        </p>
        <div>
          <p class="removeThis">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
            atque hic similique libero nesciunt nulla consequuntur, accusantium
            provident at facilis explicabo
          </p>
        </div>
      </section>
      <section class="base">
        <p class="copyRights">
          Copyright &copy; 3AIR 2023. All rights reserved
        </p>
        <div class="social">
          <a
            href="https://www.facebook.com/islam.nassar.106?mibextid=ZbWKwL"
            target="_blank"
            ><i class="fa-brands fa-square-facebook"></i
          ></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/islam-nassar-71a68b140"
            ><i class="fa-brands fa-linkedin"></i
          ></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a
            href="https://instagram.com/islam_nassar_97?igshid=ZDdkNTZiNTM="
            target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="#"> <i class="fa-brands fa-pinterest"></i></a>
        </div>
      </section>
    </div>
  </div>
</footer>
